body {
  padding: 50px;
  font-family: "Calibri";
}

a {
  color: #00B7FF;
}

footer {
  background: darkseagreen;
  height: 40px;
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  /*overflow: auto;*/
}

label {
  padding-top: 10px;
}

ul.success li, ul.info li, ul.error li {
  margin: 20px 0 20px 0;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  list-style: none;
}

ul.success li {
  color: #0f5132;
  background: none;
  border-color: #0f5132;
}

ul.info li {
  color: darkblue;
  background: none;
  border-color: darkblue;
}

ul.error li {
  color: red;
  background: none;
  border-color: red;
}